@keyframes slider-slide {
    0% {
      transform: translateY(-70px);
      opacity: 0;
    }
  
    70% {
      transform: translateY(15px);
      opacity: 1;
    }
  
    100% {
      transform: translateX(0);
    }
}