@mixin popup-style() {
    padding: 2rem 1.5rem;
    border-radius: $interface-border-radius;
    background-color: #f8f7f4;
    color: $interface-color;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.4);
  }

  @mixin custom-link-style($color, $link-hover) {
    font-family: $main-font;
    color: $color;
    text-decoration: none;
    box-shadow: 0 1px 0 0 rgba($color, 0.2);
    transition: color .3s ease-in-out;
  
    &:hover,
    &:focus {
      color: $link-hover;
      box-shadow: 0 1px 0 0 rgba($link-hover, 0.2);
    }
  }

  @mixin respond ($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };
    }

    @if $breakpoint == tab-land {
        @media only screen and  (max-width: 75em) { @content };
    }

    @if $breakpoint == tab-port {
        @media only screen and  (max-width: 56.25em) { @content };
    }

    @if $breakpoint == big-desktop {
        @media only screen and  (min-width: 112.5em) { @content };
    }
}